#calculator {
    background: #eaeaea;
    margin: 0 auto;
    padding: 30px;
    width: 400px;
    text-align: center;
    background-color: white;
}
#calculator button {
    padding: 10px;
    width: 100px;
}
#calculator input[type="text"] {
    padding: 10px;
    width: 347px;
    margin-bottom: 5px;
}